<!DOCTYPE html>
<html>
  <head>
    <title>CalculadoraJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id = "mainContainter">

      <div id = "display">
        <label>Resultado de operacion</label>
      </div>
      
      <div id = "buttonsBox" >
        <div class ="first-line">
          <button class="big-button" id = "C">C</button>
        </div>
        <div class ="first-line">
          <button class="button" id = "%">%</button>
        </div>
        <div class ="first-line">
          <button class="button" id = "/">/</button>
        </div>
        

        <div class= "second-line" >
          <button class="button" id = "7">7</button>
        </div>
        <div class= "second-line" >
          <button  class="button" id = "8">8</button>
        </div>
        <div class= "second-line" >
          <button class="button" id = "9">9</button>
        </div>
        <div class= "second-line" >
          <button class="button" id = "*">*</button>
        </div>

        <div class= "third-line" >
          <button class="button" id = "4">4</button>
        </div>
        <div class= "third-line" >
          <button class="button" id = "5">5</button>
        </div>
        <div class= "third-line" >
          <button class="button" id = "6">6</button>
        </div>
        <div class= "third-line" >
          <button class="button" id = "-">-</button>
        </div>
       
        <div class= "fourth-line" >
          <button class="button" id = "1">1</button>
        </div>
        <div class= "fourth-line" >
          <button class="button" id = "2">2</button>
        </div>
        <div class= "fourth-line" >
          <button class="button" id = "3">3</button>
        </div>
        <div class= "fourth-line" >
          <button class="button" id = "+">+</button>
        </div>
        
        <div class= "fifth-line" >
          <button class="big-button" id = "0">0</button>
        </div>
        <div class= "fifth-line" >
          <button class="button" id = ".">.</button>
        </div>
        <div class= "fifth-line" >
          <button class="button" id = "=">=</button>
        </div>

      </div>


    </div>
  </body>
</html>
