<!DOCTYPE html>
<html>
  <head>
    <title>CalculadoraJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id = "mainContainter">

      <div id = "display">
        <label>Resultado de operacion</label>
      </div>
      
      <div id = "buttonsBox" >
        <div class= "digitos">

          <div class="botones">
            <button id="1">1</button>
          </div>
          
          <div class="botones">
            <button id="2">2</button>
          </div>

          <div class="botones">
            <button id="3">3</button>
          </div>

          <div class="botones">
            <button id="4">4</button>
          </div>

          <div class="botones">
            <button id="5">5</button>
          </div>

          <div class="botones">
            <button id="6">6</button>
          </div>

          <div class="botones">
            <button id="7" >7</button>
          </div>

          <div class="botones">
            <button id="8">8</button>
          </div>

          <div class="botones">
            <button id="9">9</button>
          </div>

          <div class="botones">
            <button id="0">0</button>
          </div>
          

          
        </div>  

        <div class= "operadores">

          <div class="botones">
            <button id="suma">+</button>
          </div>
          
          <div class="botones">
            <button id="resta">-</button>
          </div>

          <div class="botones">
            <button id="multiplicacion">*</button>
          </div>

          <div class="botones">
            <button id="division">/</button>
          </div>

        </div>

      </div>


    </div>
  </body>
</html>
