body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#mainContainter{
  margin: auto;
  max-width: 50% ;
  max-height: 50% ;
}

#display{
  background-color: rgba(147, 175, 175, 0.836);
  box-shadow: 2px 2px 15px rgb(109, 141, 141);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: right;
  height: 15vh;
  font-size: 2em;
  font-weight: bold;
}

#buttonsBox{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 75vh;
  display:grid;
  gap: 30px ;
  padding: 15px ;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows:repeat(5,1fr);
  background-color: rgba(31, 151, 153, 0.541);
  box-shadow: 2px 2px 15px rgba(31, 148, 150, 0.829)
}   

.button , .button-op{
  background-color:rgb(11, 156, 167);
  font-size: 2em;
  box-shadow: 2px 2px 15px rgb(4, 94, 100);
  border-radius: 15px;
  width: 100%;
  height: 100%; 
}

.button:hover , .button-op:hover{
  color:white;
  box-shadow: 2px 2px 15px rgb(3, 26, 27);
}

.button-op:first-child , .button:nth-child(16){
  grid-column: span 2;
}

