body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#mainContainter{
  margin: auto;
  max-width: 50% ;
  max-height: 50% ;
}

#display{
  background-color: rgb(110, 217, 219);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: right;
  height: 20vh;
  font-size: 2em;
  font-weight: bold;
}

#buttonsBox{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display:grid;
  grid-template-columns: 25% 25% 25% 25% ;
  box-sizing: border-box;
  margin:auto;
  justify-content: space-around;
  background-color: rgb(51, 141, 143);
  height: 80vh;
}   

.button{
  border-radius: 15px;
  width: 90%;
  height: 90%;
}

.big-button{
  border-radius: 15px;
  width: 200%;
  height: 90%;
}

#first-line, #second-line{
  justify-content: space-between;
}